.popup__inputJob {
  border: 0;
  border-bottom: 1px solid #545454;
  min-height: 27px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .popup__inputJob {
    min-height: 30px;
    margin-bottom: 45px;
  }
}

