.profile__editBotton {
  background-image: url(../../../image/Edit\ Button.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 18px;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__editBotton {
    margin-left: 10px;
  }
}

.profile__editBotton:hover {
  opacity: 0.6;
}
