.card {
  border-radius: 5%;
  background-image: url(../../image/kirill-pershin-1088404-unsplash.jpg);
  height: calc(280px + 79px);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
